# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment
env/
*.env

# Alembic versioning files
alembic/versions/

# Database files (PostgreSQL, SQLite, etc.)
*.sqlite
*.db

# VSCode and IDE files
.vscode/

# Test or coverage reports
*.cover
.coverage
.tox/
.nox/
.dist/
*.egg-info/
.eggs/
nosetests.xml
coverage.xml
*.cover

# Log files
*.logw